@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #f0f0f0;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 80px;
  left: 80px;
  right: 0;
  bottom: 0;
  
  transition: transform 0.5s ease-in-out, scaleX 0.2s ease;
}

 .left {
  transform: scaleX(-1);
  border: 2px solid blue;
}

 .right {
  transform: rotate(90deg) scaleX(1);  
  border: 2px solid red;
}
